body {
  background-color: #fcfcff;
}
:root {
  --primary: #5b41ff;
  --secondary: rgba(144, 149, 166, 0.65);
}

/* header starts */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header .search-box {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid grey;
  padding: 8px;
  border-radius: 31px;
}
.header .search-box input {
  border: 0;
}

/* header ends */

/* intro-title starts */
.intro-title {
  height: 75px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 28.0678px;
  line-height: 37px;
  letter-spacing: -0.187119px;
  color: #1b153d;
  margin-bottom: 20px;
}
/* intro-title ends */

/* categories design starts */
.cats {
  display: flex;
  gap: 19.9px;
  margin-bottom: 20px;
}
.cats .item {
  color: var(--secondary);
}
.cats .item.active {
  color: var(--primary);
}

/* categories design ends */

/* products starts */
.products {
  display: flex;
  flex-flow: wrap;
}
.products .product {
  width: 42%;
  background-color: white;
  margin: 0.5%;
  padding: 1%;
  margin-bottom: 10px;
}
.products .product img {
  width: 100%;
  margin-bottom: 20px;
}
.products .product .title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 12.4746px;
  line-height: 15px;
  letter-spacing: -0.187119px;
  color: #1b153d;
  margin-bottom: 5px;
}
.products .product .desc {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 9.35593px;
  line-height: 11px;
  letter-spacing: -0.187119px;
  color: #9095a6;
  margin-bottom: 5px;
}
.products .product .price {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12.4746px;
  line-height: 15px;
  letter-spacing: -0.187119px;
  color: #5b41ff;
  margin-bottom: 10px;
}
/* products ends */
