body {
  background-color: #fcfcff;
}
:root {
  --primary: #5b41ff;
  --secondary: rgba(144, 149, 166, 0.65);
}

/* header starts */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header .search-box {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid grey;
  padding: 8px;
  border-radius: 31px;
}
.header .search-box input {
  border: 0;
}

/* header ends */

/* intro-title starts */
.intro-title {
  height: 75px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 28.0678px;
  line-height: 37px;
  letter-spacing: -0.187119px;
  color: #1b153d;
  margin-bottom: 20px;
}
/* intro-title ends */

/* categories design starts */
.cats {
  display: flex;
  gap: 19.9px;
  margin-bottom: 20px;
}
.cats .item {
  color: var(--secondary);
}
.cats .item.active {
  color: var(--primary);
}

/* categories design ends */

/* products starts */
.products {
  display: flex;
  flex-flow: wrap;
}
.products .product {
  width: 42%;
  background-color: white;
  margin: 0.5%;
  padding: 1%;
  margin-bottom: 10px;
}
.products .product img {
  width: 100%;
  margin-bottom: 20px;
}
.products .product .title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 12.4746px;
  line-height: 15px;
  letter-spacing: -0.187119px;
  color: #1b153d;
  margin-bottom: 5px;
}
.products .product .desc {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 9.35593px;
  line-height: 11px;
  letter-spacing: -0.187119px;
  color: #9095a6;
  margin-bottom: 5px;
}
.products .product .price {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12.4746px;
  line-height: 15px;
  letter-spacing: -0.187119px;
  color: #5b41ff;
  margin-bottom: 10px;
}
/* products ends */

/* slider-container starts */
.slider-container {
  margin: 65px;
  text-align: center;
  position: relative;
}
.slider-container .top {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.slider-container .img-inner {
  padding: 10px;
}
/* slider-container ends */

/* desc-flex startss */
.desc-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.desc-flex .item {
  padding: 10px;
}
.desc-flex .item .title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 15.6716px;
  line-height: 19px;
  letter-spacing: -0.18806px;
  color: #1b153d;
  margin-bottom: 10px;
}
.desc-flex .item .desc {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 9.40298px;
  line-height: 11px;
  letter-spacing: -0.18806px;
  color: #9095a6;
}
.desc-flex .item .price {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18.806px;
  line-height: 15px;
  letter-spacing: -0.18806px;
  color: #5b41ff;
}
/* desc-flex ends */

/* choose color starts */
.choose-colors {
  padding: 10px;
}
.choose-colors .title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 12.5373px;
  line-height: 19px;
  color: #1b153d;
  margin-bottom: 10px;
}
.choose-colors .color-flex {
  display: flex;
  gap: 21.6px;
}
.choose-colors .color-flex .color-item {
  padding: 10.19px;
  border: 1px solid silver;
  border-radius: 6.26866px;
  display: flex;
  gap: 9.4px;
  align-items: center;
}
.choose-colors .color-flex .color-item .color-box-circle {
  width: 10.27px;
  height: 10.27px;
  border-radius: 100px;
}
.choose-colors .color-flex .color-item .desc {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 9.40298px;
  line-height: 11px;
  letter-spacing: -0.18806px;
  color: rgba(144, 149, 166, 0.65);
}
/* choose color ends */
